/*============================================== Base ================================================================*/
body{padding:0px;margin: 0px;font-size:12px;background: #E6EEF8}
a{ color:black; text-decoration:none;}
a:hover{ color:red; text-decoration:none;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li{margin:2px 0px;padding-left:10px;padding-top:2px;border:1px solid #FFF;}
.easyui-accordion ul li:hover,
.easyui-accordion ul li.hover{border:1px dashed #ffffff; background:#ffffff;cursor:pointer;}
.easyui-accordion ul li:hover a,
.easyui-accordion ul li.hover a{color:#416AA3;}
.easyui-accordion ul li.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li.selected a{color:#416AA3; font-weight:bold;}
.easyui-accordion .accordion-header-selected{
	
  background-color: #ffffff;
  background: -webkit-linear-gradient(top,#F8F8F8 0,#ffffff 100%);
  background: -moz-linear-gradient(top,#F8F8F8 0,#ffffff 100%);
  background: -o-linear-gradient(top,#F8F8F8 0,#ffffff 100%);
  background: linear-gradient(to bottom,#F8F8F8 0,#ffffff 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8F8F8,endColorstr=#ffffff,GradientType=0);
}

/*.icon{ background:url(../../images/admin/tabicons.png) no-repeat;width:18px; line-height:18px; display:inline-block;}*/
/*.icon-sys{ background-position:0px -200px;}*/
/*.icon-set{ background-position:-380px -200px;}*/
/*.icon-add{background-position: -20px 0px;}*/
/*.icon-nav{background-position: -100px -20px; }*/
/*.icon-users{background-position: -100px -480px;}*/
/*.icon-role{background-position: -360px -200px;}*/
/*.icon-set{background-position: -380px -200px;}*/
/*.icon-log{background-position: -380px -80px;}*/
/*.icon-delete{ background-position:-140px -120px;}*/
/*.icon-edit{ background-position:-380px -320px;}*/
/*.icon-magic{ background-position:0px -500px;}*/
/*.icon-database{ background-position:-20px -140px;}*/

.icon-role{background:url('../images/admin/role.png') no-repeat;}
.icon-password{background:url('../images/admin/password.png') no-repeat;}
.icon-dict{background: url(../images/admin/book.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-system{background: url(../images/admin/system.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-system-child{background: url(../images/admin/system_child.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-root{background: url(../images/admin/root.gif) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-folder{background: url(../images/admin/folder.gif) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-folder-open{background: url(../images/admin/folderopen.gif) no-repeat;width:18px; line-height:18px; display:inline-block;}

/*input*/
.textStyle{padding:2px;border-top:1px solid #CCC;border-left:1px solid #CCC; border-bottom:1px solid #CCC; border-right:1px solid #CCC; background:#fff;height:22px;line-height:21px;}

textarea{background:#fff;}
textarea.text{overflow:auto;padding:2px;border-top:1px solid #333;border-left:1px solid #333; border-bottom:1px solid #CCC; border-right:1px solid #CCC;}
select{padding:2px; border-top:1px solid #333;border-left:1px solid #333; border-bottom:1px solid #CCC; border-right:1px solid #CCC;}
select.required, textarea.required, input.required {
    border-left: 2px solid red;
}
/*============================================== Diy ================================================================*/

div.desk_header{height: 50px;line-height:60px;overflow:hidden;color:#FFFFFF;
  background-color: #ECEADF;
  background: -webkit-linear-gradient(top,#F8F8F8 0,#ECEADF 100%); 
  background: -moz-linear-gradient(top,#F8F8F8 0,#ECEADF 100%);
  background: -o-linear-gradient(top,#F8F8F8 0,#ECEADF 100%);
  background: linear-gradient(to bottom,#F8F8F8 0,#ECEADF 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8F8F8,endColorstr=#ECEADF,GradientType=0);
}
div.desk_header span.logo{float:left;padding-left:0px;background: url() no-repeat;margin-top: 5px; margin-left: 13px;height: 70px;width: 170px;}
div.desk_header span.title{float:left;font-size:30px;color:#336600;font-family:"ºÚÌå","æ¥·ä½“",Arial,Verdana,Sans-serif;margin-left:20px;height: 70px;font-weight: bold }
div.desk_header span.r_title{float: right; padding-right: 20px;color:#336600}
div.desk_navigation{width:200px;}

div.desk_body{overflow:hidden}
div.desk_body_tabs{overflow:hidden;}

div.desk_body_tabs_welcome{text-align: center;color: #0167a2;}

div.desk_footer{height:30px;line-height: 25px;overflow: hidden;}
div.desk_footer div{text-align:center;font-weight: bold;color:#1B5978}


 /* from */
.desk_body_form_body{padding:0px 20px;}
.desk_body_form fieldset{padding:10px 10px; background:#F6F6F6;border: 1px solid #F1F1F1;margin-bottom: 10px;}
.desk_body_form fieldset legend{font:14px; font-weight: bold;margin-left: 0px;}
.desk_body_form .ftitle {border-bottom: 1px solid #CCCCCC;font-size: 14px;font-weight: bold; margin:0;padding:10px 0px;}
.desk_body_form .fitem {margin-bottom: 5px;}
.desk_body_form .fitem label {display: inline-block;width: 70px;text-align: right;color: #666}
.desk_body_form .fitem label.max{width: 100px;}
.desk_body_form .fitem input.disabled,.desk_body_form .fitem textarea.disabled{background:#dedede;}
.desk_body_form .fitem input,
.desk_body_form .fitem textarea,
.desk_body_form .fitem select{width: 120px;padding-left: 5px}
.desk_body_form .fitem select{width: 130px;}
.desk_body_form .fitem input.max{width: 611px;}
.desk_body_form .fitem input.min{width: 47px;}
.desk_body_form .fitem input.validatebox-invalid{
    background: #FFF3F3 url('../js/easyui/themes/default/images/validatebox_warning.png') no-repeat right center;
    border-color: #FFA8A8;
    color: black;
}
.desk_body_form_footer{text-align:center;padding:10px 20px;border-top:1px solid #F2F2F2;background:#FAFAFA}






