/*============================================== Base ================================================================*/
body{padding:0px;margin: 0px;font-size:12px;}
a{ color:black; text-decoration:none;}
a:hover{ color:red; text-decoration:none;}

.easyui-accordion ul{list-style-type:none;margin:0px; padding:10px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li{margin:2px 0px;padding-left:10px;padding-top:2px;border:1px solid #FFF;}
.easyui-accordion ul li:hover,
.easyui-accordion ul li.hover{border:1px dashed #FFF0F5; background:#FFF0F5;cursor:pointer;}
.easyui-accordion ul li:hover a,
.easyui-accordion ul li.hover a{color:#416AA3;}
.easyui-accordion ul li.selected{border:1px solid #FFF5EE; background:#FFF5EE;cursor:default;}
.easyui-accordion ul li.selected a{color:#416AA3; font-weight:bold;}
.easyui-accordion .accordion-header-selected{
	
  background-color: #FFF0F5;
  background: -webkit-linear-gradient(top,#FFF5EE 0,#FFF0F5 100%);
  background: -moz-linear-gradient(top,#FFF5EE 0,#FFF0F5 100%);
  background: -o-linear-gradient(top,#FFF5EE 0,#FFF0F5 100%);
  background: linear-gradient(to bottom,#FFF5EE 0,#FFF0F5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFF5EE,endColorstr=#FFF0F5,GradientType=0);
}

.icon-role{background:url('../images/admin/role.png') no-repeat;}
.icon-password{background:url('../images/admin/password.png') no-repeat;}
.icon-dict{background: url(../images/admin/book.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-system{background: url(../images/admin/system.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-system-child{background: url(../images/admin/system_child.png) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-root{background: url(../images/admin/root.gif) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-folder{background: url(../images/admin/folder.gif) no-repeat;width:18px; line-height:18px; display:inline-block;}
.icon-folder-open{background: url(../images/admin/folderopen.gif) no-repeat;width:18px; line-height:18px; display:inline-block;}


textarea{background:#fff;}
textarea.text{overflow:auto;padding:2px;border-top:1px solid #333;border-left:1px solid #333; border-bottom:1px solid #CCC; border-right:1px solid #CCC;}
select{padding:2px; border-top:1px solid #333;border-left:1px solid #333; border-bottom:1px solid #CCC; border-right:1px solid #CCC;}
select.required, textarea.required, input.required {
    border-left: 2px solid red;
}
/*============================================== Diy ================================================================*/
/*
div.desk_header{height: 50px;line-height:60px;overflow:hidden;color:#FFFFFF;
  background-color: #F2F5F7;
  background: -webkit-linear-gradient(top,#F8F8F8 0,#F2F5F7 100%); 
  background: -moz-linear-gradient(top,#F8F8F8 0,#F2F5F7 100%);
  background: -o-linear-gradient(top,#F8F8F8 0,#F2F5F7 100%);
  background: linear-gradient(to bottom,#F8F8F8 0,#F2F5F7 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F8F8F8,endColorstr=#F2F5F7,GradientType=0);
}*/
div.desk_header{
	height: 80px;line-height:80px;overflow:hidden;
	z-index: 9999;background:none repeat scroll 0 0 #FFF5EE;opacity: 0.4;filter:alpha(opacity=50)
}
div.desk_left{
	width:200px;
	z-index: 9999;
	background:none repeat scroll 0 0 #FFF;
	opacity: 0.7;
	filter:alpha(opacity=50)
}
div.desk_center{
	z-index: 9999;
	background:none repeat scroll 0 0 #FFF;
	opacity: 0.7;
	filter:alpha(opacity=50)
}
div.desk_header span.logo{float:left;padding-left:0px;background: url() no-repeat;margin-top: 3px; margin-left: 13px;height: 80px;width: 150px;}
div.desk_header span.title{float:left;font-size:35px;color:#030303;font-family:"黑体","妤蜂綋",Arial,Verdana,Sans-serif;margin-left:0px;height: 80px;font-weight: bold; text-shadow:#030303 6px 6px 10px;align:center}
div.desk_header span.volClsss{float:left;font-size:15px;color:#030303;font-family:"黑体","妤蜂綋",Arial,Verdana,Sans-serif;margin-left:8px;margin-top:5px;height: 80px;font-weight: bold; text-shadow:#030303 5px 5px 10px;}
div.desk_header span.r_title{float: right; padding-right: 20px;color:#030303}
div.desk_navigation{width:200px;}

div.desk_body{overflow:hidden}
div.desk_body_tabs{overflow:hidden;}

div.desk_body_tabs_welcome{text-align: center;color: #0167a2;}

div.desk_footer{height:30px;line-height: 25px;overflow: hidden;}
div.desk_footer div{text-align:center;font-weight: bold;color:#1B5978}

.text {
  position: relative;
  border: 1px solid #AED0EA;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height:19px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.textTime {
  position: relative;
  border: 1px solid #AED0EA;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-size: 12px;
  height:19px;
  width:40px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}


 /* from */
.desk_body_form_body{padding:0px 20px;}
.desk_body_form fieldset{background:#FFF5EE;border: 1px solid #AED0EA;}
.desk_body_form fieldset legend{font:14px; font-weight: bold;margin-left:2px;}
.desk_body_form .ftitle {border-bottom: 1px solid #CCCCCC;font-size: 14px;font-weight: bold; margin:0;padding:10px 0px;}
.desk_body_form .fitem {margin-bottom: 5px;}
.desk_body_form .fitem label {display: inline-block;width: 70px;text-align: right;color: #666}
.desk_body_form .fitem label.max{width: 100px;}
.desk_body_form .fitem input.disabled,.desk_body_form .fitem textarea.disabled{background:#dedede;}
.desk_body_form .fitem input,
.desk_body_form .fitem textarea,
.desk_body_form .fitem select{width: 120px;padding-left: 5px}
.desk_body_form .fitem select{width: 130px;}
.desk_body_form .fitem input.max{width: 611px;}
.desk_body_form .fitem input.min{width: 47px;}
.desk_body_form .fitem input.validatebox-invalid{
    background: #FFF3F3 url('../js/easyui/themes/default/images/validatebox_warning.png') no-repeat right center;
    border-color: #FFA8A8;
    color: black;
}
.desk_body_form_footer{text-align:center;padding:10px 20px;border-top:1px solid #AED0EA;background:#FFB6C1}

.secDiv ul {
	 margin: 0; padding: 0; list-style-type: none; width: auto; border-bottom: 1px solid #AED0EA; float:left; width:193px;
}

.secDiv ul li{
	margin: 0; padding: 0; background-color:#FFFAF0 ; height:28px; line-height:32px; 
}

.secDiv ul li ul { 
	top: 0; display: none;
}


.secDiv ul li ul li {
	float:left; width:193px; height:32px; line-height:28px;background-color:#FFFAF0;border-bottom: 1px solid #FFB6C1;
}

.secDiv ul li ul li:hover{
	float:left; width:193px; height:35px;line-height:33px;background-color:#FFFAF0;border-bottom: 1px solid #FFB6C1;
}

.nav1 {
	height:32px;
	line-height:32px;
}

.nav {
	height:32px;
	line-height:32px;
}


.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/50% Arial, Helvetica, sans-serif;
	padding: .5em .5em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.small {
	font-size: 12px;
	padding: .5em 1em .5em;
}

.rosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
	color: #dca4ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
