<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ClusterInfoDo">
	<resultMap type="ClusterInfoDo" id="ClusterInfoDOMap">
		<id column="id" property="id" />
		<result column="clusterName" property="clusterName" />
		<result column="modifyDate" property="modifyDate" />
		<result column="dbType" property="dbType" />
		<result column="bucketLimit" property="bucketLimit" />
		<result column="copyCount" property="copyCount" />
		<result column="replicatePort" property="replicatePort" />
		<result column="hashCount" property="hashCount" />
		<result column="status" property="status" />
		<result column="createDate" property="createDate" />
		<result column="df" property="df" />
		<result column="details" property="details" />
	</resultMap>

    <select id="ClusterInfoDo.loadClusterInfoList" resultType="ClusterInfoDo" parameterType="ClusterInfoDo">
    	select id,clusterName,details,modifyDate,createDate,df,dbType,bucketLimit,copyCount,replicatePort,status,hashCount from hippo_cluster_info 
    	where df = #{df}
    	
    	<if test="clusterName !=null and clusterName !=''">
    		and clusterName = #{clusterName}
    	</if>
    	
    	<if test="dbType !=null and dbType !=''">
    		and dbType = #{dbType}
    	</if>
    	
    	<if test="replicatePort !=null and replicatePort !='' and replicatePort > 0">
    		and replicatePort = #{replicatePort}
    	</if>
    	
    	<if test="bucketLimit !=null and bucketLimit !='' and bucketLimit > 0">
    		and bucketLimit = #{bucketLimit}
    	</if>
    	
    	<if test="status !=null and status !='' and status > 0">
    		and status = #{status}
    	</if>
    	
    	order by createDate desc 
    	
    	<if test="rows !=null and rows !=''">
    		limit #{offset}, #{rows}
    	</if>
    	
    </select>
    
    <insert id="insertClusterInfo" parameterType="ClusterInfoDo" useGeneratedKeys="true" keyProperty="id">
    	insert into hippo_cluster_info (clusterName,details,modifyDate,createDate,df,dbType,bucketLimit,copyCount,replicatePort,status,hashCount) 
    	values 
    	(#{clusterName},#{details},now(),now(),#{df},#{dbType},#{bucketLimit},#{copyCount},#{replicatePort},#{status},#{hashCount})
    </insert>
    
    <select id="findClusterInfo" parameterType="ClusterInfoDo" resultType="ClusterInfoDo">
    	select id,clusterName,details,modifyDate,createDate,df,dbType,bucketLimit,copyCount,replicatePort,status,hashCount from hippo_cluster_info 
    	where 
    	id = #{id}
    </select>
    
    <select id="findClusterInfoCount" parameterType="ClusterInfoDo" resultType="int">
    	select count(*) from hippo_cluster_info where df = #{df}
    
    	<if test="clusterName !=null and clusterName !=''">
    		and clusterName = #{clusterName}
    	</if>
    	
    	<if test="dbType !=null and dbType !=''">
    		and dbType = #{dbType}
    	</if>
    	
    	<if test="replicatePort !=null and replicatePort !='' and replicatePort > 0">
    		and replicatePort = #{replicatePort}
    	</if>
    	
    	<if test="bucketLimit !=null and bucketLimit !='' and bucketLimit > 0">
    		and bucketLimit = #{bucketLimit}
    	</if>
    	
    	<if test="status !=null and status !='' and status > 0">
    		and status = #{status}
    	</if>
    </select>
    
    <update id="delClusterInfo" parameterType="ClusterInfoDo">
    	update hippo_cluster_info set  df = #{df} where id = #{id}
    </update>
    
    <update id="editClusterInfo" parameterType="ClusterInfoDo">
    	update hippo_cluster_info set 
    	<trim suffix=" " suffixOverrides=",">
    	<if test="clusterName !=null and clusterName !=''">
    		clusterName = #{clusterName} ,
    	</if>
    	<if test="dbType !=null and dbType !=''">
    		dbType = #{dbType} ,
    	</if>
    	
    	<if test="bucketLimit !=null and bucketLimit !='' and bucketLimit >0">
    		bucketLimit = #{bucketLimit} ,
    	</if>
    	
    	<if test="copyCount !=null and copyCount !='' and copyCount >0">
    		copyCount = #{copyCount} ,
    	</if>
    	
    	<if test="replicatePort !=null and replicatePort !='' and replicatePort >0">
    		replicatePort = #{replicatePort} ,
    	</if>
    	
    	<if test="status !=null and status !='' and status >0">
    		status = #{status},
    	</if>
    	
    	<if test="hashCount !=null and hashCount !='' and hashCount >0">
    		hashCount = #{hashCount},
    	</if>
    	
    	<if test="details !=null and details !=''">
    		details = #{details} ,
    	</if>
    	
    	  modifyDate = now() ,
    	</trim>
    	where id = #{id}
    </update>
	
</mapper>

