<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ServerInfoDo">
	<resultMap type="ServerInfoDo" id="ServerInfoDOMap">
		<id column="id" property="id" />
		<result column="server_id" property="server_id" />
		<result column="status" property="status" />
		<result column="brokerName" property="brokerName" />
		<result column="brokerVersion" property="brokerVersion" />
		<result column="clusterName" property="clusterName" />
		<result column="clusterId" property="clusterId" />
		<result column="port" property="port" />
		<result column="bucketCount" property="bucketCount" />
		<result column="modifyDate" property="modifyDate" />
		<result column="createDate" property="createDate" />
		<result column="df" property="df" />
	</resultMap>

    <select id="loadServerInfoList" resultType="ServerInfoDo" parameterType="ServerInfoDo">
    	select id,server_id,status,brokerName,brokerVersion,clusterName,clusterId,port,bucketCount,modifyDate,createDate,df,jmxPort from hippo_server_info 
    	where df = #{df}
    	<if test="status !=null and status != 0 ">
    		and status = #{status}
    	</if>
    	
    	<if test="brokerName !=null and brokerName !=''">
    		and brokerName = #{brokerName}
    	</if>
    	
    	<if test="clusterName !=null and clusterName !=''">
    		and clusterName = #{clusterName}
    	</if>
    	
    	<if test="clusterId !=null and clusterId > 0">
    		and clusterId = #{clusterId}
    	</if>
    	
    	<if test="server_id !=null and server_id !=''">
    		and server_id = #{server_id}
    	</if>
    	
    	order by createDate desc 
    	
    	<if test="rows !=null and rows !=''">
    		limit #{offset}, #{rows}
    	</if>
    	
    </select>
    
    <insert id="insertServerInfo" parameterType="ServerInfoDo" useGeneratedKeys="true" keyProperty="id">
    	insert into hippo_server_info (server_id,status,brokerName,brokerVersion,clusterName,clusterId,port,bucketCount,modifyDate,createDate,df,jmxPort) 
    	values 
    	(#{server_id},#{status},#{brokerName},#{brokerVersion},#{clusterName},#{clusterId},#{port},#{bucketCount},now(),now(),#{df},#{jmxPort})
    </insert>
    
    <select id="findServerInfo" parameterType="ServerInfoDo" resultType="ServerInfoDo">
    	select id,server_id,status,brokerName,brokerVersion,clusterName,clusterId,port,bucketCount,modifyDate,createDate,df,jmxPort from hippo_server_info 
    	where 
    	id = #{id}
    </select>
    
    <select id="findServerInfoCount" parameterType="ServerInfoDo" resultType="int">
    	select count(*) from hippo_server_info where df = #{df}
    	<if test="status != 0 ">
    		and status = #{status}
    	</if>
    	
    	<if test="brokerName !=null and brokerName !=''">
    		and brokerName = #{brokerName}
    	</if>
    	
    	<if test="clusterName !=null and clusterName !=''">
    		and clusterName = #{clusterName}
    	</if>
    	
    	<if test="clusterId !=null and clusterId > 0">
    		and clusterId = #{clusterId}
    	</if>
    	
    	<if test="server_id !=null and server_id !=''">
    		and server_id = #{server_id}
    	</if>
    </select>
    
    <update id="delServerInfo" parameterType="ServerInfoDo">
    	update hippo_server_info set df = #{df} where id = #{id}
    </update>
    
    
    <update id="editServerInfo" parameterType="ServerInfoDo">
    	update hippo_server_info set 
    	<trim suffix=" " suffixOverrides=",">
    	<if test="server_id !=null and server_id !=''">
    		server_id = #{server_id} ,
    	</if>
    	
    	<if test="brokerName !=null and brokerName !=''">
    		brokerName=#{brokerName} ,
    	</if>
    	
    	<if test="brokerVersion !=null and brokerVersion !=''">
    		brokerVersion=#{brokerVersion} ,
    	</if>
    	
    	<if test="clusterName !=null and clusterName !=''">
    		clusterName=#{clusterName} ,
    	</if>
    	
    	<if test="clusterId !=null and clusterId !=''">
    		clusterId=#{clusterId} ,
    	</if>
    	
    	<if test="port !=null and port !=''">
    		port=#{port} ,
    	</if>
    	
    	<if test="bucketCount !=null and bucketCount !=''">
    		bucketCount=#{bucketCount} ,
    	</if>
    	
    	<if test="status !=null and status >0">
    		status=#{status} ,
    	</if>
    	
    	<if test="jmxPort !=null and jmxPort !=''">
    		jmxPort=#{jmxPort} ,
    	</if>
    	
    	  modifyDate = now() ,
    	</trim>
    	where id = #{id}
    </update>
	
</mapper>

