<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZkDataServersInfoDo">
	<resultMap type="ZkDataServersInfoDo" id="ZkDataServersInfoDoMap">
		<id column="id" property="id" />
		<result column="networkPort" property="clusterName" />
		<result column="createDate" property="createDate" />
		<result column="df" property="df" />
		<result column="content" property="content" />
		<result column="zkClusterId" property="zkClusterId" />
	</resultMap>

	<!-- select list -->
    <select id="selectDataServersList" resultType="ZkDataServersInfoDo" parameterType="ZkDataServersInfoDo">
    	select id,networkPort,content,createDate,df,zkClusterId from hippo_zk_dataservers
    	where df = #{df}
    	
    	<if test="networkPort !=null and networkPort !=''">
    		and networkPort = #{networkPort}
    	</if>
    	
    	<if test="zkClusterId !=null and zkClusterId !='' and zkClusterId > 0" >
    		and zkClusterId = #{zkClusterId}
    	</if>
    	
    	order by networkPort desc 
    	
    </select>
    
    <!-- insert -->
    <insert id="insertDataServersList" parameterType="ZkDataServersInfoDo" useGeneratedKeys="true" keyProperty="id">
    	insert into hippo_zk_dataservers (networkPort,content,createDate,df,zkClusterId) 
    	values 
    	(#{networkPort},#{content},now(),#{df},#{zkClusterId})
    </insert>
    
    <!-- select one  -->
    <select id="selectOneDataServers" parameterType="ZkDataServersInfoDo" resultType="ZkDataServersInfoDo">
    	select id,networkPort,content,createDate,df,zkClusterId from hippo_zk_dataservers 
    	where 
    	id = #{id}
    </select>
    
    <!-- delete -->
    <update id="deleteDataServers" parameterType="ZkDataServersInfoDo">
    	update hippo_zk_dataservers set  df = #{df} where id = #{id}
    </update>
    
    
    <!-- update -->
    <update id="updateDataServersList" parameterType="ZkDataServersInfoDo">
    	update hippo_zk_dataservers set 
    	<trim suffix=" " suffixOverrides=",">
    	<if test="networkPort !=null and networkPort !=''">
    		networkPort = #{networkPort} ,
    	</if>
    	<if test="content !=null and content !='' ">
    		content = #{content} ,
    	</if>
    	
    	</trim>
    	where id = #{id}
    </update>
	
</mapper>

