<?xml version="1.0" encoding="UTF-8"?>

<!-- Application context definition. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/jdbc
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/jdbc/spring-jdbc.xsd"
	default-autowire="byName">

	<bean id="serverInfoDao" class="com.hippoconsoleweb.dal.impl.ServerInfoDaoImpl" />
	<bean id="clusterInfoDao" class="com.hippoconsoleweb.dal.impl.ClusterInfoDaoImpl" />
	<bean id="zkClusterInfoDao" class="com.hippoconsoleweb.dal.impl.ZkClusterInfoDaoImpl" />
	<bean id="zkDataServersInfoDao" class="com.hippoconsoleweb.dal.impl.ZkDataServersDaoImpl" />
	<bean id="zkTablesInfoDao" class="com.hippoconsoleweb.dal.impl.ZkTablesInfoDaoImpl" />
</beans>