<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	
   	 <property resource="env.properties" />
	
	<!--日志文件存入路径-->

	<property name="PROJECT_NAME" value="hippoconsoleweb" />
	
	
	<include resource="maitainLogback.xml" />
	<!-- 存放日志文件的路径 -->
	<substitutionProperty name="LOG_HOME_HIPPO_BIZ" value="${LOG_HOME}/${PROJECT_NAME}/biz" />
	<substitutionProperty name="LOG_HOME_HIPPO_ERROR" value="${LOG_HOME}/${PROJECT_NAME}/error" />
	<substitutionProperty name="LOG_HOME_HIPPO_SERVICE" value="${LOG_HOME}/${PROJECT_NAME}/service" />


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> 
       			 %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
     	 	</pattern> 
     	 	<immediateFlush>false</immediateFlush>
   	 	</encoder> 
    </appender> 
    
  
 <!-- biz log -->
    <appender name="bizHippoRolling"  class="ch.qos.logback.core.rolling.RollingFileAppender"> 
   		 <file>${LOG_HOME_HIPPO_BIZ}/hippo-${bySecond}.txt</file> 
   		 <rollingPolicy  class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  				<fileNamePattern>${LOG_HOME_HIPPO_BIZ}/hippo-%d{yyyy-MM-dd}.%i.zip</fileNamePattern> 
  		  		<maxHistory>30</maxHistory> 
  		   		 <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				    <MaxFileSize>10MB</MaxFileSize>
				 </TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy> 
	    <encoder> 
	      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> 
	      <immediateFlush>false</immediateFlush>
	    </encoder> 
  </appender> 
  
  
  <!-- service -->
    <appender name="serviceHippoRolling"  class="ch.qos.logback.core.rolling.RollingFileAppender"> 
   		 <file>${LOG_HOME_HIPPO_SERVICE}/hippo-${bySecond}.txt</file> 
   		 <rollingPolicy  class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  				<fileNamePattern>${LOG_HOME_HIPPO_SERVICE}/hippo-%d{yyyy-MM-dd}.%i.zip</fileNamePattern> 
  		  		<maxHistory>30</maxHistory> 
  		   		 <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				    <MaxFileSize>10MB</MaxFileSize>
				 </TimeBasedFileNamingAndTriggeringPolicy>    
		</rollingPolicy> 
	    <encoder> 
	      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> 
	      <immediateFlush>false</immediateFlush>
	    </encoder> 
  </appender> 
  

    <!-- error -->
      <appender name="errorHippoRolling"  class="ch.qos.logback.core.rolling.RollingFileAppender" >
       
        <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
		  <level>ERROR</level> 
		  <onMatch>ACCEPT</onMatch> 
		  <onMismatch>DENY</onMismatch> 
		</filter> 

   		 <file>${LOG_HOME_HIPPO_ERROR}/hippo-${bySecond}.txt</file> 
   		 <rollingPolicy  class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  				<fileNamePattern>${LOG_HOME_HIPPO_ERROR}/hippo-%d{yyyy-MM-dd}.%i.zip</fileNamePattern> 
  		  		<maxHistory>30</maxHistory> 
  		   		 <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				    <MaxFileSize>10MB</MaxFileSize>
				 </TimeBasedFileNamingAndTriggeringPolicy>    
		</rollingPolicy> 
		
	    <encoder> 
	      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern> 
	      <immediateFlush>false</immediateFlush>
	    </encoder> 
     </appender> 
     
     
           <!-- biz -->
  <logger name="paff.biz" level="INFO" >
  	<appender-ref ref="bizHippoRolling"/>
  </logger> 
  
  <!-- service -->
   <logger name="paff.service" level="INFO" >
  	<appender-ref ref="serviceHippoRolling"/>
  </logger>
  
    <!-- error -->
   <root level="INFO"> 
   		<appender-ref ref="STDOUT" /> 
	    <appender-ref ref="errorRolling" /> 
	    <appender-ref ref="errorHippoRolling" /> 
   </root>
   
</configuration>