<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<typeAlias alias="serverInfoDo" type="com.hippoconsoleweb.model.ServerInfoDo"/>
		<typeAlias alias="clusterInfoDo" type="com.hippoconsoleweb.model.ClusterInfoDo"/>
		<typeAlias alias="zkClusterBackUpInfoDo" type="com.hippoconsoleweb.model.ZkClusterBackUpInfoDo"/>
		<typeAlias alias="zkDataServersInfoDo" type="com.hippoconsoleweb.model.ZkDataServersInfoDo"/>
		<typeAlias alias="zkTablesInfoDo" type="com.hippoconsoleweb.model.ZkTablesInfoDo"/>
	</typeAliases>

<!-- 	<plugins> -->
<!-- 		<plugin interceptor="com.common.log.SQLLogInterceptor" /> -->
<!-- 	</plugins> -->

</configuration>